<div class='wrap'>
  <div class='float_wrap'>
    <p>
      <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %> - <%= @ip_address %>
    </p>
  </div>
</div>
