<div class="wrap">
  <div class="float_wrap">
    
    <div class="pos_right">
      <h1>INFORMATION TECHNOLOGY</h1>
    </div>
    
    <div class="logo">&nbsp;
      <%= link_to ' ', refinery.root_path %>
    </div>
    

<!--
<h1 id='logo'>
  <%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>
-->
    
      <%= render(:partial => "/refinery/menu", :locals => {
	     :hide_children => 'hide_children',
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
    
  </div>
</div>